@import "./fonts/rajdhani.sass"

$breakpoint-tablet: 768px
$left-width: 40vw
$right-width: 60vw
$base-height: 60px
$height-row:50px
$primary-color: #2db563
$primary-color-dark: #1e8b49
$primary-color-light: #EAF7EF
$blue: #58b3da
$yellow: #febc12
$purple: #7f66ad
$red: #EF4723

@mixin header-row
    width: 100%
    height: $base-height
    text-align: center
    display: grid
    align-items: center
    background-color: white

@mixin background-standard
    background-size: contain
    background-position: center
    background-repeat: no-repeat